// Imports

@import "variables.scss";

// Colors helpers

.primary {
  color: map-get($colors, primary);

  &--bg {
    background-color: map-get($colors, primary);
  }
}

.secondary {
  color: map-get($colors, secondary);

  &--bg {
    background-color: map-get($colors, secondary);
  }
}

.tertiary {
  color: map-get($colors, tertiary);

  &--bg {
    background-color: map-get($colors, tertiary);
  }
}

.light {
  color: map-get($colors, light);

  &--bg {
    background-color: map-get($colors, light);
  }
}

.white {
  color: map-get($colors, white);

  &--bg {
    background-color: map-get($colors, white);
  }
}

.dark {
  color: map-get($colors, dark);

  &--bg {
    background-color: map-get($colors, dark);
  }
}

// Spacing, positioning and display helpers

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.w-100 {
  width: 100%;
  max-width: 100%;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.5rem;
}
